@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Roboto+Slab:wght@100..900&display=swap");

body {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.block {
  width: 30vw;
  height: 30vw;
  background-color: black;
  color: #fff;
  padding: 1rem;
}

.left {
  float: left;
  margin-right: 1rem;
}

.right {
  float: right;
  margin-left: 1rem;
}

.clear {
  clear: both; /* It removes paragraph from both left and right */
}

/* No need for above clear class */

section {
  background-color: greenyellow;
  border: 1px solid red;
  padding: 1rem;
  /* overflow: auto; */
  display: flow-root; /* always apply it to container to stop overflow error */
}
